
.businesses li {
    list-style-type: none;
}

.business-home {
    text-align: center;
}



.business-name {
    color: black;
    font-size: 1.2rem;
}

.business-id {
    color: black;
    font-size: 1rem;
}

.businesses {
    text-align: center;
    margin-top: 20px;
}


.business-name:hover {
    background-color: RGB(11, 165, 161);
    color: white;
}



@media screen and (min-width: 768px) {

.business-name {
    font-size: 1.5rem;
}

.business-home {
    margin-top: 20px;
    bottom-margin: 10px;
}

.businesses .wrapper {
    margin-top: 0px;
}


}