
.businesses li {
    list-style-type: none;
}

.business-name {
    color: black;
    font-size: 1.2rem;
}

.business-id {
    color: black;
    font-size: 1rem;
}

.businesses, .business-home {
    text-align: center;
    margin-top: 20px;
}

.businesses .product-name {
    color: black;
}

.business-product-image {
    text-align: left;
    margin-top: 50px;
}

.business-product-image img {
    height: 100px;
    width: 100px;
}

.business-home h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.businesses .product-name, .product-text, .business-product-image {
    text-align: left;
    margin-left: 10px;
}


.business-name:hover {
    background-color: RGB(11, 165, 161);
    color: white;
}

.businesses .product-name:hover {
    background-color: RGB(11, 165, 161);
    color: white;
}


@media screen and (min-width: 768px) {

.business-name {
    font-size: 1.5rem;
}

.business-home h2 {
    margin-bottom: -50px;
}

.businesses .product-name, .product-text {
    margin-left: 0px;
}


}