
.businesses li {
    list-style-type: none;
}

.business-name {
    color: black;
    font-size: 1rem;
}

.businesses, .business-home {
    text-align: center;
    /* margin-top: 30px; */
}

.business-home h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}


.business-name:hover {
    background-color: RGB(11, 165, 161);
    color: white;
}


@media screen and (min-width: 768px) {

.business-name {
    font-size: 1.5rem;
}

.business-home h2 {
    margin-bottom: -50px;
}

}