/* CAROSEL */
/* 
.carosel {
    display: none;
    list-style-type: none;
    margin-top: 20px;
  }


.carosel-image {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.carosel-image img {
    width: 600px;
    height: 500px;
}

.carosel-dot {
    display: flex;
    justify-content: center;
    padding: 10px;
} */


.carousel-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .image3-color {
    color: black;
    /* background-color: gray; */
  }

  @media screen and (min-width: 768px) {

    /* MAIN */
    .carousel-wrapper {
      background: #fff;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 100px auto;
      max-width: 60%;
      margin-top: 0px;
    
      /* padding: 2.25%; 18px / 800px */
    }

}

