.categories {
    padding: 0px;
  }
  
  .categories-text, .categories-image {
    list-style-type: none;
    color: black;
    padding: 20px;
  }
  .categories-text {
    border: black solid .5px;
    background-color: white;
  }
  
  .categories-image {
    display: none;
  }
  
  .categories li:hover {
    background-color: RGB(11, 165, 161);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

  
  @media screen and (min-width: 768px)  {

/* Categories Container */
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .categories-text, .categories-image {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 32px;
      margin-bottom: 32px;
      text-align: center;
      padding: 5px;
  }
  

  .categories-text {
    border: none;
  }
  
    .categories-image {
      display: block;
      height: 200px;
      width: 200px;
      padding-top: 40px;
      border: black solid .5px;
      background-color: #f2f2f2;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .carosel {
    display: flex;
    justify-content: center;
  
  }


  }