.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 100px; */
    background-color: RGB(31, 39, 52);
    color: white;
    text-align: center;
  }

  .footer li {
    list-style-type: none;
    padding: 18px;
    margin: 0px, 10px;
  }

  .footer p {
      color: RGB(0, 255, 244);
      padding: 18px;
      background-color: black;
  }

  .container-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }