@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #f2f2f2;
  /* background-color: RGB(11, 165, 161) */
}

.col-3 {
 border: black solid 1px;
}

.col-9 {
  border: black solid 1px;
 }



h1, p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: auto;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding-top: 10px;
}



/* CATEGORIES CONTAINER */

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-text {
  list-style-type: none;
  color: black;
  background-color: white;
  padding: 5px;
  text-align: center; 
}

.categories-image {
  display: none;
  list-style-type: none;
  padding: 15px;
 
}

.categories img {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

/* CATEGORY HOVER FOR CATEGORY NAME */
.categories-text:hover {
  background-color: RGB(11, 165, 161);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categories-image:hover {
  border: white solid .5px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* CAROSEL */

.carosel {
  display: none;
  list-style-type: none;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {

/* MAIN */
.wrapper {
  background: #fff;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 100px auto;
  max-width: 90%;
  padding: 2.25%; /* 18px / 800px */
}

  /* FOR DESKTOP: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}



/* CATEGORIES CONTAINER */

.categories-text {
  /* margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  */

}

.categories-text {
  border: none;
}

.categories img {
  display: none;
   height: 75px;
   width: 100px;
}
/* .categories-image {
  margin: 10px;
} */


/* CAROSEL */

.carosel {
  display: flex;
  justify-content: center;
}



}
