.product-main {
    margin-top: 10px;
    padding: 10px;
    list-style: none;
}

.product-button {
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 1rem;
    background-color: RGB(0, 255, 242);
    width: 175px;
}

.product-button:hover {
    background-color: RGB(11, 165, 161);
}

.product-flex .product-image {
    display: flex;
    justify-content: center; 
}

.product-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.titlespacing {
    padding-right: 10px;
}

.product-image img {
    height: 200px;
    width: 200px;
    border: white solid .5px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 768px) {

    .product-image img {
        height: 300px;
        width: 300px;
    }

    .product-main {
        margin-top: 30px;
        padding: 50px;
        list-style: none;
    }
    
    
}